#bottom-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70px;
  background: #cc1d1d;
  color: #fff;
  font-size: 18px;
}

#bottom-menu ul {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#bottom-menu ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#bottom-menu ul li + li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 24px;
  width: 2px;
  border-radius: 4px;
  background: #fff;
}

#bottom-menu ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #dedede;
}

#bottom-menu ul li a.active {
  color: #fff;
}

#bottom-menu ul li a.active span {
  font-size: 14px;
}

#bottom-menu ul li span {
  font-size: 12px;
}
